// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #2B6082;

// ----------------------------------------------------------------------------
// Widget-image styles
// ----------------------------------------------------------------------------
.widget-linkedin {

  background-color: $background-color;

  h1{
	font-size: 20px;
	margin: 20px 20px 0px;
	float: left;
  }

  h2{
	font-size: 13px;
	margin: 0 20px;
	float: left;
  }

  #logo, #profile{
	margin: auto 0;
	width: 362px;
	display: inline-block;
  }

  #profile img{
	border-radius: 15px;
	float: left;
	max-width: 130px;
  }

  #profile_button{
	border-radius: 7px;
	border: none;
	color: #163041;
	box-shadow: 5px 5px 3px #204861;
	background-color: #006599;
	margin: 15px 20px 0;
	padding: 7px;
	float: right;
  }

}
